body {
    background-color: lightblue;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.45;
  }
  
  .trueCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50%;
  }